In [17]:
import os
import sys
import re

import pandas as pd
from datetime import datetime

from IPython.display import display

# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Check if path is in sys path before adding it
preoject_path = os.getcwd().removesuffix('/notebooks')
if preoject_path not in sys.path:
    sys.path.append(preoject_path)


from src.ingestion.fetch_congress_data import CongressTrades
from src.ingestion.fetch_stock_data import get_tickers, fetch_time_series

In [2]:
tickers = get_tickers()
len(tickers)

503

In [ ]:
current_year = datetime.now().year
for year in range(2014, current_year):
    print(f'Fetching data for {year}')
    ct = CongressTrades(year)

In [19]:
ct.trades

,Member,DocID,Owner,Asset,Ticker,Transaction Type,Transaction Date,Notification Date,Amount,Filing Status,Description
0,Allen,20017164,SP,Starbucks Corporation,Not in S&P 500,07/06/2020,"$1,001",-,"$15,000",New,
1,Amash,20016417,DC,Walt Disney Company,DIS,03/18/2020,03/18/2020,"$15,001",-,New,
2,Amash,20016417,DC,Walt Disney Company,DIS,03/18/2020,"$1,001",-,"$15,000",New,
3,Amash,20016417,DC,Walt Disney Company,DIS,03/18/2020,"$1,001",-,"$15,000",New,
4,Banks,20016981,JT,Starbucks Corporation,Not in S&P 500,07/01/2020,"$1,001",-,"$15,000",New,
5,Banks,20016981,JT,Starbucks Corporation,Not in S&P 500,07/01/2020,"$1,001",-,"$15,000",New,
6,Banks,20016981,JT,Starbucks Corporation,Not in S&P 500,07/01/2020,"$1,001",-,"$15,000",New,
7,Banks,20016981,JT,Starbucks Corporation,Not in S&P 500,07/01/2020,"$1,001",-,"$15,000",New,

In [ ]:

# Reset the index
trades_by_member_df.reset_index(drop=True, inplace=True)

In [ ]:
bad_docs = [
    "20025620", 
    "20024317", 
    "20025568", 
    "20025705", 
    "20025768", 
    "20026238", 
    "20024230", 
    "20025711", 
    "20024248", 
    "20024461", 
    "20024801", 
    "20025419", 
    "20025678",
    "20024300",
    "20025281",
    "20026023",
    "20024231",
    "20024436",
    "20024604",
    "20024982",
    "20025112",
    "20025373",
    "20025679",
    "20025770",
    "20025959",
    "20026143",
    "20024286",
    "20026415",
    "20026346",
    "20025107",
    "20025360",

    ]

In [ ]:
for bad_doc in bad_docs[0]:
    try:
        pdf_df = ct.download_and_parse_pdf(bad_doc)
        display(pdf_df)
    except Exception as e:
        print(f"Failed to download PDF for {bad_doc}: {e}")

In [6]:
symbol = "NVDA"
df = fetch_time_series(symbol, interval="daily", output_size="compact")
print(df.head())

         date    open    high       low   close       volume
99 2024-07-26  116.19  116.20  111.5800  113.06  293399073.0
98 2024-07-29  113.69  116.28  111.3000  111.59  248152068.0
97 2024-07-30  111.52  111.99  102.5400  103.73  486833274.0
96 2024-07-31  112.90  118.34  110.8800  117.02  473174182.0
95 2024-08-01  117.53  120.16  106.8104  109.21  523462326.0

In [7]:
print(df.tail())

        date    open    high     low   close       volume
4 2024-12-10  139.01  141.82  133.79  135.07  210020888.0
3 2024-12-11  137.36  140.17  135.21  139.31  184905192.0
2 2024-12-12  137.08  138.44  135.80  137.34  159211393.0
1 2024-12-13  138.94  139.60  132.54  134.25  231514881.0
0 2024-12-16  134.18  134.40  130.42  132.00  231624137.0